body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #sensor-list div {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #sensor-list p {
    margin: 0;
    flex-grow: 1;
  }
  
  /* Button styling */
  .edit-btn, .delete-btn {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  /* Specific colors for the buttons */
  .edit-btn {
    background-color: #008CBA;
  }
  
  .edit-btn:hover {
    background-color: #007BB5;
  }
  
  .delete-btn {
    background-color: #f44336;
  }
  
  .delete-btn:hover {
    background-color: #d32f2f;
  }
  
  #sort-options {
    margin-bottom: 20px;
    text-align: left;  /* Align Sort options to the right */
  }
  
  #sort-options label {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Save Data Button floating to the right */
  #save-data {
    float: right;
  }
  